<ng-container>
    <app-description Menu='Security - Distributed Firewall Rules'></app-description>
</ng-container>
<ng-container >
  <p class="p6">
    <div class="btn-group">
      <div class="btn-group">
        <clr-dropdown>
          <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
            <cds-icon shape="download-cloud" ></cds-icon>
            Export
          </button>
        <ng-template #export>
          <button class="btn" clrDropdownTrigger>
            <cds-icon shape="download-cloud"></cds-icon>
            Export
          </button>
        </ng-template>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <a (click)="Export('XLS', this.TabRules, Name)" clrDropdownItem>Export in Excel</a>
          <a (click)="Export('CSV', this.TabRules, Name)" clrDropdownItem>Export in CSV</a>
          <a (click)="Export('JSON', this.TabRules, Name)" clrDropdownItem>Export in JSON</a>
          <a (click)="Export('YAML', this.TabRules, Name)" clrDropdownItem>Export in YAML</a>
        </clr-dropdown-menu>
        </clr-dropdown>
      </div>
      <div class="btn-group">
          <!-- Diff part-->
          <app-diff #appDiff Name={{Name}} [Tab]=this.TabRules (diffArrayOut)="getDiff($event)"></app-diff>
          <button class="btn" *ngIf="loading else diff" disabled>
            <cds-icon shape="file-group"></cds-icon>
            Diff
          </button>
          <ng-template #diff>
            <button class="btn" (click)="appDiff.StartWizard()">
              <cds-icon shape="file-group"></cds-icon>
              Diff
            </button>
          </ng-template>
          <clr-dropdown>
            <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
              <cds-icon shape="download-cloud" ></cds-icon>
              Export Diff
            </button>
            <ng-template #exportdiff>
              <button class="btn" clrDropdownTrigger>
                <cds-icon shape="download-cloud"></cds-icon>
                Export Diff
              </button>
            </ng-template>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
              <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
              <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
              <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
              <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
            </clr-dropdown-menu>
          </clr-dropdown>
    </div>
    </div>
    <!-- Alert in case of error-->
    <div class="alert alert-danger" role="alert" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
          </div>
          <span class="alert-text">
            {{error_message}}
          </span>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="error = false">
      <cds-icon aria-hidden="true" shape="window-close" ></cds-icon>
    </button>
    </div>
    <p class="p3">
    <clr-tabs>
        <clr-tab *ngFor="let cat of TabCat" >
            <button clrTabLink>{{cat.name}}
              <clr-spinner [clrInline]="true" *ngIf="cat.loading"></clr-spinner>
            </button>
            <clr-tab-content *clrIfActive="true">
              <clr-accordion>
                <div *ngFor="let policy of cat.policies">
                <clr-accordion-panel *ngIf="policy.category == cat.name">
                    <clr-accordion-title>
                      {{policy.name}}
                      <clr-signpost>
                        <clr-signpost-content *clrIfOpen>
                          <h3 id="signpostheader">{{policy.name}}</h3>
                          <p class='p5' >Applied to: <code class="clr-code">{{policy.scope}}</code></p>
                          <p class='p5' id="signpost">Stateful: <code class="clr-code">{{policy.stateful}}</code></p>
                          <p class='p5' id="signpost">Sequence Number: <code class="clr-code">{{policy.sequence_nb}}</code></p>
                          <p class='p5' id="signpost">Path: <code class="clr-code">{{policy.path}}</code></p>
                        </clr-signpost-content>
                      </clr-signpost>
                    </clr-accordion-title>
                    <clr-accordion-content *clrIfExpanded>
                      <table class="table table-noborder table-compact">
                        <thead>
                          <tr>
                            <th class="left">Rules Name</th>
                            <th class="left">Rules ID</th>
                            <th class="left">Sources</th>
                            <th class="left">Destinations</th>
                            <th class="left">Services</th>
                            <th class="left">Action</th>
                            <th class="left">Scope</th>
                            <th class="left">Direction</th>
                            <th class="left">Hit Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rule of TabRules">
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >{{rule.name}}</td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >{{rule.id}}</td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >{{rule.sources}}</td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >{{rule.destinations}}</td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >{{rule.services}}</td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >
                              <span class="label label-danger" *ngIf="rule.action !== 'ALLOW' ">{{rule.action}}</span>
                              <span class="label label-success" *ngIf="rule.action === 'ALLOW' ">{{rule.action}}</span>
                            </td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >{{rule.scope}}</td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >
                              <cds-icon shape="two-way-arrows" *ngIf="rule.direction === 'IN_OUT'"></cds-icon>           
                              <cds-icon shape="arrow" direction="right" *ngIf="rule.direction === 'IN'"></cds-icon>
                              <cds-icon shape="arrow" direction="left" *ngIf="rule.direction === 'OUT'"></cds-icon> {{rule.direction}}                        
                            </td>
                            <td class="left" *ngIf="rule.policy.category == policy.category && rule.policy.name == policy.name" >
                              <span class="label label-warning" *ngIf="rule.hitcount === '0' ">{{rule.hitcount}}</span>
                              <span class="label label-info" *ngIf="rule.hitcount !== '0' ">{{rule.hitcount}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </clr-accordion-content>
                </clr-accordion-panel>
                </div>
              </clr-accordion>
            </clr-tab-content>
    
        </clr-tab>
        <clr-tab *ngIf="isCompared">
          <button clrTabLink>Diff</button>
          <clr-tab-content *clrIfActive="true">
            <app-diffresult [DiffTab]=this.DiffTab [HeaderDiff]=this.HeaderDiff Name={{Name}}></app-diffresult>
          </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</ng-container>
