<ng-container>
  <app-description Menu='NSX-T Fabric - Tunnels'></app-description>
</ng-container>
<ng-container>
  <p class="p6">
    <div class="btn-group">
      <div class="btn-group">
        <clr-dropdown>
          <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
            <cds-icon shape="download-cloud" ></cds-icon>
            Export
          </button>
        <ng-template #export>
          <button class="btn" clrDropdownTrigger>
            <cds-icon shape="download-cloud"></cds-icon>
            Export
          </button>
        </ng-template>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <a (click)="Export('XLS', this.TabTunnels, Name)" clrDropdownItem>Export in Excel</a>
          <a (click)="Export('CSV', this.TabTunnels, Name)" clrDropdownItem>Export in CSV</a>
          <a (click)="Export('JSON', this.TabTunnels, Name)" clrDropdownItem>Export in JSON</a>
          <a (click)="Export('YAML', this.TabTunnels, Name)" clrDropdownItem>Export in YAML</a>
        </clr-dropdown-menu>
        </clr-dropdown>
      </div>
      <div class="btn-group">
          <!-- Diff part-->
          <app-diff #appDiff Name={{Name}} [Tab]=this.TabTunnels (diffArrayOut)="getDiff($event)"></app-diff>
          <button class="btn" *ngIf="loading else diff" disabled>
            <cds-icon shape="file-group"></cds-icon>
            Diff
          </button>
          <ng-template #diff>
            <button class="btn" (click)="appDiff.StartWizard()">
              <cds-icon shape="file-group"></cds-icon>
              Diff
            </button>
          </ng-template>
          <clr-dropdown>
            <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
              <cds-icon shape="download-cloud" ></cds-icon>
              Export Diff
            </button>
            <ng-template #exportdiff>
              <button class="btn" clrDropdownTrigger>
                <cds-icon shape="download-cloud"></cds-icon>
                Export Diff
              </button>
            </ng-template>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
              <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
              <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
              <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
              <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
            </clr-dropdown-menu>
          </clr-dropdown>
    </div>
    </div>
  <p class="p3">
    <clr-tabs>
      <clr-tab>
          <button clrTabLink>Dashboard</button>
          <clr-tab-content *clrIfActive>
              <clr-datagrid [clrDgLoading]="loading">
                  <clr-dg-column [clrDgField]="'node'">Transport Node</clr-dg-column>
                  <clr-dg-column [clrDgField]="'local_ip'">Local Tunnel IP</clr-dg-column>
                  <clr-dg-column [clrDgField]="'remote_ip'">Remote Tunnel IP</clr-dg-column>
                  <clr-dg-column [clrDgField]="'remote_node_display_name'">Remote Node Name</clr-dg-column>
                  <clr-dg-column [clrDgField]="'status'">Tunnel Status</clr-dg-column>
                  <clr-dg-placeholder>We couldn't find any Tunnels !</clr-dg-placeholder>
                  <clr-dg-row *clrDgItems="let entry of this.TabTunnels" [clrDgItem]="entry">
                    <clr-dg-cell>{{entry.node.name.toUpperCase()}}</clr-dg-cell>
                    <clr-dg-cell>{{entry.local_ip}}</clr-dg-cell>
                    <clr-dg-cell>{{entry.remote_ip}}</clr-dg-cell>
                    <clr-dg-cell>{{entry.remote_node_display_name}}</clr-dg-cell>
                    <clr-dg-cell>
                      <span class="label label-success" *ngIf="entry.status === 'UP'">{{entry.status}}</span>
                      <span class="label label-danger" *ngIf="entry.status !== 'UP'">{{entry.status}}</span>
                    </clr-dg-cell>
                  </clr-dg-row>
                
                  <clr-dg-footer>
                      <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">tunnels per page</clr-dg-page-size>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} tunnels
                      </clr-dg-pagination>
                    </clr-dg-footer>
              
                    <clr-dg-detail *clrIfDetail="let detail">
                      <clr-dg-detail-header>Details of Tunnel:  {{detail.name}} </clr-dg-detail-header>
                      <clr-dg-detail-body>
                        <table class="table table-vertical table-noborder">
                          <tbody>
                            <tr>
                              <th>Tunnel Name</th>
                              <td>{{detail.name}}</td>
                            </tr>
                            <tr>
                              <th>Egress Interface</th>
                              <td>{{detail.egress_int}}</td>
                            </tr>
                            <tr>
                              <th>Transport Node</th>
                              <td>{{detail.node.name}}</td>
                            </tr>
                            <tr>
                              <th>Local Tunnel IP</th>
                              <td>{{detail.local_ip}}</td>
                            </tr>
                            <tr>
                              <th>Remote IP</th>
                              <td>{{detail.remote_ip}}</td>
                            </tr>
                            <tr>
                              <th>Remote Node Name</th>
                              <td>{{detail.remote_node_display_name}}</td>
                            </tr>
                            <tr>
                              <th>Remote node ID</th>
                              <td>{{detail.remote_node_id}}</td>
                            </tr>
                            <tr>
                              <th>Encap</th>
                              <td>{{detail.encap}}</td>
                            </tr>
                            <tr>
                              <th>Status</th>
                              <td>
                                <span class="label label-success" *ngIf="detail.status === 'UP'">{{detail.status}}</span>
                                <span class="label label-danger" *ngIf="detail.status !== 'UP'">{{detail.status}}</span>          
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </clr-dg-detail-body>
                  </clr-dg-detail>
              </clr-datagrid>
          </clr-tab-content>
      </clr-tab>
    <!-- Diff Tab -->
    <clr-tab *ngIf="isCompared">
      <button clrTabLink>Diff</button>
      <clr-tab-content *clrIfActive="true">
        <app-diffresult [DiffTab]=this.DiffTab [HeaderDiff]=this.HeaderDiff Name={{Name}}></app-diffresult>
      </clr-tab-content>
    </clr-tab>
    </clr-tabs>
  </p>
</ng-container>
