<app-description Menu='NSX-T Fabric - Manager Infos'></app-description>
<p class="p6">
  <div class="btn-group">
    <div class="btn-group">
      <clr-dropdown>
        <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
          <cds-icon shape="download-cloud" ></cds-icon>
          Export
        </button>
      <ng-template #export>
        <button class="btn" clrDropdownTrigger>
          <cds-icon shape="download-cloud"></cds-icon>
          Export
        </button>
      </ng-template>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
        <a (click)="Export('XLS', this.Cluster, Name)" clrDropdownItem>Export in Excel</a>
        <a (click)="Export('CSV', this.Cluster, Name)" clrDropdownItem>Export in CSV</a>
        <a (click)="Export('JSON', this.Cluster, Name)" clrDropdownItem>Export in JSON</a>
        <a (click)="Export('YAML', this.Cluster, Name)" clrDropdownItem>Export in YAML</a>
      </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="btn-group">
        <!-- Diff part-->
        <app-diff #appDiff Name={{Name}} [Tab]=this.Cluster (diffArrayOut)="getDiff($event)"></app-diff>
        <button class="btn" *ngIf="loading else diff" disabled>
          <cds-icon shape="file-group"></cds-icon>
          Diff
        </button>
        <ng-template #diff>
          <button class="btn" (click)="appDiff.StartWizard()">
            <cds-icon shape="file-group"></cds-icon>
            Diff
          </button>
        </ng-template>
        <clr-dropdown>
          <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
            <cds-icon shape="download-cloud" ></cds-icon>
            Export Diff
          </button>
          <ng-template #exportdiff>
            <button class="btn" clrDropdownTrigger>
              <cds-icon shape="download-cloud"></cds-icon>
              Export Diff
            </button>
          </ng-template>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
            <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
            <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
            <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
            <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
          </clr-dropdown-menu>
        </clr-dropdown>
  </div>
  </div>
  <!-- Alert in case of error-->
   <div class="alert alert-danger" role="alert" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
        </div>
        <span class="alert-text">
          {{error_message}}
        </span>
      </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="error = false">
    <cds-icon aria-hidden="true" shape="window-close" ></cds-icon>
  </button>
  </div>
<p class="p3">
<h5>Cluster ID: <span id="cluster">{{this.clusterID}}</span></h5>
<clr-tabs>
  <!-- Dashboard -->
  <clr-tab>
    <button clrTabLink>Dashboard</button>
    <clr-tab-content *clrIfActive="true">

      <clr-datagrid [clrDgLoading]="loading">
          <clr-dg-column [clrDgField]="'group'">Group ID</clr-dg-column>
          <clr-dg-column [clrDgField]="'group_type'">Group Type</clr-dg-column>
          <clr-dg-column [clrDgField]="'group_status'">Group Status</clr-dg-column>
          <clr-dg-column [clrDgField]="'member_fqdn'">Member FQDN</clr-dg-column>
          <clr-dg-column [clrDgField]="'member_ip'">Member IP address</clr-dg-column>
          <clr-dg-column [clrDgField]="'member_uuid'">Member UUID</clr-dg-column>
          <clr-dg-column [clrDgField]="'member_status'">Member Status</clr-dg-column>
          <clr-dg-placeholder>We couldn't find any services !</clr-dg-placeholder>

          <clr-dg-row *clrDgItems="let entry of this.clusterServices">
            <clr-dg-cell>{{entry.id}}</clr-dg-cell>
            <clr-dg-cell>{{entry.name}}</clr-dg-cell>
            <clr-dg-cell>
              <span class="label label-success" *ngIf="entry.status === 'STABLE'">{{entry.status}}</span>
              <span class="label label-danger" *ngIf="entry.status !== 'STABLE'">{{entry.status}}</span>
              </clr-dg-cell>
            <clr-dg-cell>
              <div *ngFor="let member of entry.members">
              {{member.fqdn}}
              </div>
            </clr-dg-cell>
            <clr-dg-cell>
              <div *ngFor="let member of entry.members">
              {{member.ip}}
              </div>
            </clr-dg-cell>
            <clr-dg-cell>
              <div *ngFor="let member of entry.members">
              {{member.id}}
              </div>
            </clr-dg-cell>
            <clr-dg-cell>
              <div *ngFor="let member of entry.members">
              <span class="label label-success" *ngIf="member.status === 'UP'">{{member.status}}</span>
              <span class="label label-danger" *ngIf="member.status !== 'UP'">{{member.status}}</span>
              </div>
          </clr-dg-cell>
          </clr-dg-row>
        
          <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">services per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} services
              </clr-dg-pagination>
            </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
    <!-- Diff Tab -->
    <clr-tab *ngIf="isCompared">
      <button clrTabLink>Diff</button>
      <clr-tab-content *clrIfActive="true">
        <app-diffresult [DiffTab]=this.TabDiffServices [HeaderDiff]=this.HeaderDiff Name={{Name}}></app-diffresult>
      </clr-tab-content>
    </clr-tab>
</clr-tabs>