<ng-container >
  <app-description Menu='NSX-T Fabric - Transport Zones'></app-description>
</ng-container>
<ng-container >
  <p class="p6">
    <div class="btn-group">
      <div class="btn-group">
        <clr-dropdown>
          <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
            <cds-icon shape="download-cloud" ></cds-icon>
            Export
          </button>
        <ng-template #export>
          <button class="btn" clrDropdownTrigger>
            <cds-icon shape="download-cloud"></cds-icon>
            Export
          </button>
        </ng-template>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <a (click)="Export('XLS', this.TabTZ, Name)" clrDropdownItem>Export in Excel</a>
          <a (click)="Export('CSV', this.TabTZ, Name)" clrDropdownItem>Export in CSV</a>
          <a (click)="Export('JSON', this.TabTZ, Name)" clrDropdownItem>Export in JSON</a>
          <a (click)="Export('YAML', this.TabTZ, Name)" clrDropdownItem>Export in YAML</a>
        </clr-dropdown-menu>
        </clr-dropdown>
      </div>
      <div class="btn-group">
          <!-- Diff part-->
          <app-diff #appDiff Name={{Name}} [Tab]=this.TabTZ (diffArrayOut)="getDiff($event)"></app-diff>
          <button class="btn" *ngIf="loading else diff" disabled>
            <cds-icon shape="file-group"></cds-icon>
            Diff
          </button>
          <ng-template #diff>
            <button class="btn" (click)="appDiff.StartWizard()">
              <cds-icon shape="file-group"></cds-icon>
              Diff
            </button>
          </ng-template>
          <clr-dropdown>
            <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
              <cds-icon shape="download-cloud" ></cds-icon>
              Export Diff
            </button>
            <ng-template #exportdiff>
              <button class="btn" clrDropdownTrigger>
                <cds-icon shape="download-cloud"></cds-icon>
                Export Diff
              </button>
            </ng-template>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
              <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
              <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
              <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
              <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
            </clr-dropdown-menu>
          </clr-dropdown>
    </div>
    </div>
    <!-- Alert in case of error-->
 <div class="alert alert-danger" role="alert" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
      </div>
      <span class="alert-text">
        {{error_message}}
      </span>
    </div>
</div>
<button type="button" class="close" aria-label="Close" (click)="error = false">
  <cds-icon aria-hidden="true" shape="window-close" ></cds-icon>
</button>
</div>
  <p class="p3">
    <clr-tabs>
      <clr-tab>
          <button clrTabLink>Dashboard</button>
          <clr-tab-content *clrIfActive>
            <clr-datagrid [clrDgLoading]="loading">
                <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                <clr-dg-column [clrDgField]="'type'">Transport Type</clr-dg-column>
                <clr-dg-column [clrDgField]="'hostswitch.name'">Host Switch Name</clr-dg-column>
                <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
                <clr-dg-placeholder>We couldn't find any Transport Zones !</clr-dg-placeholder>
                <clr-dg-row *clrDgItems="let entry of this.TabTZ" [clrDgItem]="entry">
                  <clr-dg-cell>{{entry.name}}</clr-dg-cell>
                  <clr-dg-cell>{{entry.type}}</clr-dg-cell>
                  <clr-dg-cell>{{entry.hostswitch.name}}</clr-dg-cell>
                  <clr-dg-cell>{{entry.description}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">nodes per page</clr-dg-page-size>
                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} nodes
                    </clr-dg-pagination>
                  </clr-dg-footer>
                  <clr-dg-detail *clrIfDetail="let detail">
                    <clr-dg-detail-header>Details of {{detail.name}} </clr-dg-detail-header>
                    <clr-dg-detail-body>
                      <table class="table table-vertical table-noborder">
                        <tbody>
                          <tr>
                            <th>Transport Zone ID</th>
                            <td>{{detail.id}}</td>
                          </tr>
                          <tr>
                            <th>Ressource Type</th>
                            <td>{{detail.resource_type}}</td>
                          </tr>
                          <tr>
                            <th>Host Switch ID</th>
                            <td>{{detail.hostswitch.id}}</td>
                          </tr>
                          <tr>
                            <th>Host Switch Mode</th>
                            <td>{{detail.hostswitch.mode}}</td>
                          </tr>
                          <tr>
                            <th>Host Switch Name</th>
                            <td>{{detail.hostswitch.name}}</td>
                          </tr>
                          <tr>
                            <th>Host Switch is default</th>
                            <td>{{detail.default}}</td>
                          </tr>
                          <tr>
                            <th>Is Nested</th>
                            <td>{{detail.nested}}</td>
                          </tr>
                          <tr>
                            <th>Teaming</th>
                            <td *ngIf="detail.uplink_teaming_policy_names">{{detail.uplink_teaming_policy_names.join(', ')}}</td>
                            </tr>
                        </tbody>
                      </table>
                    </clr-dg-detail-body>
                </clr-dg-detail>
            </clr-datagrid>
          </clr-tab-content>
      </clr-tab>
    <!-- Diff Tab -->
    <clr-tab *ngIf="isCompared">
      <button clrTabLink>Diff</button>
      <clr-tab-content *clrIfActive="true">
        <app-diffresult [DiffTab]=this.DiffTab [HeaderDiff]=this.HeaderDiff Name={{Name}}></app-diffresult>
      </clr-tab-content>
    </clr-tab>
    </clr-tabs>
  </p>
</ng-container>
