<app-description Menu='Virtual Networking - Segments'></app-description>
<p class="p6">
<div class="btn-group">
  <div class="btn-group">
    <clr-dropdown>
      <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
        <cds-icon shape="download-cloud" ></cds-icon>
        Export
      </button>
    <ng-template #export>
      <button class="btn" clrDropdownTrigger>
        <cds-icon shape="download-cloud"></cds-icon>
        Export
      </button>
    </ng-template>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
      <a (click)="Export('XLS', this.TabSegments, Name)" clrDropdownItem>Export in Excel</a>
      <a (click)="Export('CSV', this.TabSegments, Name)" clrDropdownItem>Export in CSV</a>
      <a (click)="Export('JSON', this.TabSegments, Name)" clrDropdownItem>Export in JSON</a>
      <a (click)="Export('YAML', this.TabSegments, Name)" clrDropdownItem>Export in YAML</a>
    </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="btn-group">
      <!-- Diff part-->
      <app-diff #appDiff Name={{Name}} [Tab]=this.TabSegments (diffArrayOut)="getDiff($event)"></app-diff>
      <button class="btn" *ngIf="loading else diff" disabled>
        <cds-icon shape="file-group"></cds-icon>
        Diff
      </button>
      <ng-template #diff>
        <button class="btn" (click)="appDiff.StartWizard()">
          <cds-icon shape="file-group"></cds-icon>
          Diff
        </button>
      </ng-template>
      <clr-dropdown>
        <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
          <cds-icon shape="download-cloud" ></cds-icon>
          Export Diff
        </button>
        <ng-template #exportdiff>
          <button class="btn" clrDropdownTrigger>
            <cds-icon shape="download-cloud"></cds-icon>
            Export Diff
          </button>
        </ng-template>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
          <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
          <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
          <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
        </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</div>
<!-- Alert in case of error-->
 <div class="alert alert-danger" role="alert" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
      </div>
      <span class="alert-text">
        {{error_message}}
      </span>
    </div>
</div>
<button type="button" class="close" aria-label="Close" (click)="error = false">
  <cds-icon aria-hidden="true" shape="window-close" ></cds-icon>
</button>
</div>
<p class="p3">
<clr-tabs>
    <!-- Dashboard -->
    <clr-tab>
      <button clrTabLink>Dashboard</button>
      <clr-tab-content *clrIfActive="true">
        <clr-datagrid [clrDgLoading]="loading">
          <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'tz_type'">Type</clr-dg-column>
          <clr-dg-column [clrDgField]="'vlan'">VLAN</clr-dg-column>
          <clr-dg-column [clrDgField]="'subnet'">Subnet</clr-dg-column>
          <clr-dg-column [clrDgField]="'gateway'">Gateway</clr-dg-column>
          <clr-dg-column [clrDgField]="'connectedto'">Attached to</clr-dg-column>
          <clr-dg-column [clrDgField]="'routertype'">Router Type</clr-dg-column>
          <clr-dg-column [clrDgField]="'state'">Admin Status</clr-dg-column>
          <clr-dg-placeholder>We couldn't find any Segments !</clr-dg-placeholder>
          <clr-dg-row *clrDgItems="let seg of this.TabSegments" [clrDgItem]="seg">
            <clr-dg-cell>{{ (seg.name.length>15)? (seg.name  | slice:0:15)+'...':(seg.name ) }}</clr-dg-cell>
            <clr-dg-cell>{{seg.tz.type}}</clr-dg-cell>
            <clr-dg-cell>{{seg.vlan.join(', ')}}</clr-dg-cell>
            <clr-dg-cell>
              <div *ngFor="let net of seg.subnets">
                {{net.network}}
              </div>
            </clr-dg-cell>
            <clr-dg-cell>
              <div *ngFor="let gw of seg.subnets">
                {{gw.gateway_address}}
              </div>
            </clr-dg-cell>
            <clr-dg-cell>{{ (seg.connectedto.length>15)? (seg.connectedto  | slice:0:15)+'...':(seg.connectedto ) }}</clr-dg-cell>
            <clr-dg-cell>{{seg.routertype}}</clr-dg-cell>
            <clr-dg-cell>
              <span class="label label-success" *ngIf="seg.state === 'UP'">{{seg.state}}</span>
              <span class="label label-danger" *ngIf="seg.state !== 'UP'">{{seg.state}}</span>
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Segments per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} segments
              </clr-dg-pagination>
            </clr-dg-footer>
            <clr-dg-detail *clrIfDetail="let detail">
              <clr-dg-detail-header>Details of Segments: {{detail.name}} </clr-dg-detail-header>
              <clr-dg-detail-body>
                <table class="table table-vertical table-noborder">
                  <tbody>
                    <tr>
                      <th>Segment</th>
                      <td>{{detail.name.toUpperCase()}}</td>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>{{detail.tz.type}}</td>
                    </tr>
                    <tr>
                      <th>VLAN</th>
                      <td>{{detail.vlan}}</td>
                    </tr>
                    <tr>
                      <th>Subnet</th>
                      <td>
                        <div *ngFor="let net of detail.subnets">{{net.network}}</div>
                      </td> 
                    </tr>
                    <tr>
                      <th>Gateway</th>
                      <td>
                        <div *ngFor="let net of detail.subnets">{{net.gateway_address}}</div>
                      </td> 
                    </tr>
                    <tr>
                    <tr>
                      <th>Attached to</th>
                      <td>{{detail.connectedto}}</td>
                    </tr>
                    <tr>
                    <tr>
                      <th>Router Type</th>
                      <td>{{detail.routertype}}</td>
                    </tr>
                    <tr>
                      <th>VNI</th>
                      <td>{{detail.vni}}</td>
                    </tr>
                    <tr>
                      <th>Transport Zone</th>
                      <td>{{detail.tz.name}}</td>
                    </tr>
                    <tr>
                      <th>Replication Mode</th>
                      <td>{{detail.replication_mode}}</td>
                    </tr>
                    <tr>
                      <th>Admin State</th>
                      <td>
                        <span class="label label-success" *ngIf="detail.state === 'UP'">{{detail.state}}</span>
                        <span class="label label-danger" *ngIf="detail.state !== 'UP'">{{detail.state}}</span>
                    </td>
                      </tr>
                  </tbody>
                </table>
              </clr-dg-detail-body>
          </clr-dg-detail>
      </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
    <!-- Diff Tab -->
    <clr-tab *ngIf="isCompared">
      <button clrTabLink>Diff</button>
      <clr-tab-content *clrIfActive="true">
        <app-diffresult [DiffTab]=this.DiffTab [HeaderDiff]=this.HeaderDiff Name={{Name}}></app-diffresult>
      </clr-tab-content>
    </clr-tab>
</clr-tabs>
