  <div>
    <app-description Menu='Security - Virtual Machines'></app-description>
  </div>
  <p class="p6">
  <div class="btn-group">
    <div class="btn-group">
      <clr-dropdown>
        <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
          <cds-icon shape="download-cloud" ></cds-icon>
          Export
        </button>
      <ng-template #export>
        <button class="btn" clrDropdownTrigger>
          <cds-icon shape="download-cloud"></cds-icon>
          Export
        </button>
      </ng-template>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
        <a (click)="Export('XLS', this.TabVMs, Name)" clrDropdownItem>Export in Excel</a>
        <a (click)="Export('CSV', this.TabVMs, Name)" clrDropdownItem>Export in CSV</a>
        <a (click)="Export('JSON', this.TabVMs, Name)" clrDropdownItem>Export in JSON</a>
        <a (click)="Export('YAML', this.TabVMs, Name)" clrDropdownItem>Export in YAML</a>
      </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="btn-group">
        <!-- Diff part-->
        <app-diff #appDiff Name={{Name}} [Tab]=this.TabVMs (diffArrayOut)="getDiff($event)"></app-diff>
        <button class="btn" *ngIf="loading else diff" disabled>
          <cds-icon shape="file-group"></cds-icon>
          Diff
        </button>
        <ng-template #diff>
          <button class="btn" (click)="appDiff.StartWizard()">
            <cds-icon shape="file-group"></cds-icon>
            Diff
          </button>
        </ng-template>
        <clr-dropdown>
          <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
            <cds-icon shape="download-cloud" ></cds-icon>
            Export Diff
          </button>
          <ng-template #exportdiff>
            <button class="btn" clrDropdownTrigger>
              <cds-icon shape="download-cloud"></cds-icon>
              Export Diff
            </button>
          </ng-template>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
            <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
            <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
            <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
            <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
          </clr-dropdown-menu>
        </clr-dropdown>
  </div>
  </div>
  <!-- Alert in case of error-->
   <div class="alert alert-danger" role="alert" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
        </div>
        <span class="alert-text">
          {{error_message}}
        </span>
      </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="error = false">
    <cds-icon aria-hidden="true" shape="window-close" ></cds-icon>
  </button>
  </div>
  <p class="p3">
    <clr-tabs>
      <!-- Dashboard -->
      <clr-tab>
        <button clrTabLink>Dashboard</button>
        <clr-tab-content *clrIfActive="true">
          <clr-datagrid [clrDgLoading]="loading">
            <clr-dg-column [clrDgField]="'name'">VMs Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'host'">Host</clr-dg-column>
            <clr-dg-column [clrDgField]="'tags'">Tags</clr-dg-column>
            <clr-dg-column [clrDgField]="'segment'">Segments</clr-dg-column>
            <clr-dg-column [clrDgField]="'groups'">Groups</clr-dg-column>
            <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
            <clr-dg-placeholder>We couldn't find any virtual machines !</clr-dg-placeholder>
            <clr-dg-row *clrDgItems="let vm of this.TabVMs"  [clrDgItem]="vm">
                <clr-dg-cell>{{ (vm.name.length>20)? (vm.name  | slice:0:20)+'...':(vm.name ) }}</clr-dg-cell>
                <clr-dg-cell>{{vm.host}}</clr-dg-cell>
                <clr-dg-cell>
                  <ng-container *ngFor="let tg of vm.tags" >
                    <div *ngIf="tg.scope else temp">
                      <span class="label label-info"> {{tg.tag}}:{{tg.scope}}</span>              
                    </div>
                    <ng-template #temp>
                      <span class="label label-info"> {{tg.tag}}</span>              
                    </ng-template>
                    </ng-container>
                </clr-dg-cell>
                <clr-dg-cell>{{vm['segments'].join(', ')}}</clr-dg-cell>
                <clr-dg-cell>{{vm['groups'].join(', ')}}</clr-dg-cell>
                <clr-dg-cell>
                  <span class="label label-success" *ngIf="vm.status === 'VM_RUNNING'">{{vm.status}}</span>
                  <span class="label label-danger" *ngIf="vm.status !== 'VM_RUNNING'">{{vm.status}}</span>
                </clr-dg-cell>
          
              </clr-dg-row>
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">VMs per page</clr-dg-page-size>
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} VMs
                </clr-dg-pagination>
              </clr-dg-footer>
              <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event)">
              <clr-dg-detail>
                <clr-dg-detail-header>
                <div class='clr-row'>
                  <div class="clr-align-self-start">
                  Details of {{detail.name}}
                  </div>
                <div class="clr-col clr-align-self-end">
                  <clr-dropdown>
                    <button class="btn btn-link btn-sm" clrDropdownTrigger *ngIf="loadingDetail else exportrules" disabled>Export
                      <cds-icon shape="download-cloud" ></cds-icon>
                    </button>
                    <ng-template #exportrules>
                      <button class="btn btn-link btn-sm" clrDropdownTrigger>Export
                        <cds-icon shape="download-cloud"></cds-icon>
                      </button>
                    </ng-template>
                      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
                          <a (click)="ExportRules('XLS', detail)" clrDropdownItem>Export in Excel</a>
                          <a (click)="ExportRules('CSV', detail)" clrDropdownItem>Export in CSV</a>
                          <a (click)="ExportRules('JSON', detail)" clrDropdownItem>Export in JSON</a>
                          <a (click)="ExportRules('YAML', detail)" clrDropdownItem>Export in YAML</a>
                      </clr-dropdown-menu>
                  </clr-dropdown>
                </div>
                </div>
                </clr-dg-detail-header>
                <clr-dg-detail-body>
                  <table class="table table-vertical table-noborder">
                    <tbody>
                      <tr>
                        <th class="left">ID</th>
                        <td class="left">{{detail.id}}</td>
                      </tr>
                      <tr>
                        <th class="left">Host</th>
                        <td class="left">{{detail.host}}</td>
                      </tr>
                      <tr>
                        <th class="left">Tags</th>
                        <td class="left">
                          <ng-container *ngFor="let tg of detail.tags" >
                            <div *ngIf="tg.scope else temp">
                              <span class="label label-info"> {{tg.tag}}:{{tg.scope}}</span>              
                            </div>
                            <ng-template #temp>
                              <span class="label label-info"> {{tg.tag}}</span>              
                            </ng-template>
                            </ng-container>
                        </td>
                      </tr>
                      <tr>
                        <th class="left">Segment</th>
                        <td class="left">{{detail['segments'].join(', ')}}</td>
                      </tr>
                      <tr>
                        <th class="left">Groups</th>
                        <td class="left">{{detail['groups'].join(', ')}}</td>
                      </tr>
                      <tr>
                        <th class="left">Status</th>
                        <td class="left">
                            <clr-dg-cell>
                                <span class="label label-success" *ngIf="detail.status === 'VM_RUNNING'">{{detail.status}}</span>
                                <span class="label label-danger" *ngIf="detail.status !== 'VM_RUNNING'">{{detail.status}}</span>
                            </clr-dg-cell>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ng-container>
                  <clr-accordion>
                    <clr-accordion-panel *ngFor="let int of detail.ports">
                      <clr-accordion-title>
                        Interface: {{int.name}}&nbsp;&nbsp;
                        <span class="label label-success" *ngIf="int.status === 'UP'">{{int.status}}</span>
                        <span class="label label-danger" *ngIf="int.status !== 'UP'">{{int.status}}</span>
                      </clr-accordion-title>
                      <clr-accordion-content *clrIfExpanded>
                        <div class="clr-row clr-align-items-center">
                          <div class="clr-col-6">
                            <table class="table table-vertical table-compact table-noborder">
                              <tbody>
                                <tr>
                                  <th>VIF</th>
                                  <td>{{int.vif_id}}</td>
                                </tr>
                                <tr>
                                  <th>Segment Port</th>
                                  <td>{{int.segment_port}}</td>
                                </tr>
                                <tr>
                                  <th>Segment Name</th>
                                  <td>{{int.segment_name}}</td>
                                </tr>
                                <tr>
                                  <th>IP Address</th>
                                  <td>{{int.ip.join(', ')}}</td>
                                </tr>
                                <tr>
                                  <th>MAC Address</th>
                                  <td>{{int.mac}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="clr-col-6">
                            <div>
                              <img class="image" src="assets/images/vm_connection.png">
                            </div>
                          </div>
                        </div>
    
                        <table class="table table-compact table-noborder" >
                        <thead>
                          <tr>
                            <th class="left">Rules Name</th>
                            <th class="left">Rules ID</th>
                            <th class="left">Sources</th>
                            <th class="left">Destinations</th>
                            <th class="left">Services</th>
                            <th class="left">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <div *ngIf="int.section_list.length else nodata"> -->
                            <ng-container *ngFor="let sct of int.section_list">
                            <tr *ngFor="let rule of sct.rules" >
                              <td class="left">{{rule.name}}</td>
                              <td class="left">{{rule.id}}</td>
                              <td class="left">{{rule.sources.join(', ')}}</td>
                              <td class="left">{{rule.destinations.join(', ')}}</td>
                              <td class="left">{{rule.services.join(', ')}}</td>
                              <td class="left">
                                <span class="label label-success" *ngIf="rule.action === 'ALLOW'">{{rule.action}}</span>
                                <span class="label label-danger" *ngIf="rule.action !== 'ALLOW'">{{rule.action}}</span>
                              </td>
                            </tr>
                            </ng-container>
                          <!-- </div>
                          <ng-template #nodata>
                            No rules
                          </ng-template> -->
                        </tbody>
                        </table>
                    </clr-accordion-content>
                    </clr-accordion-panel>
                  </clr-accordion>
                  </ng-container>
                </clr-dg-detail-body>
              </clr-dg-detail>
              </ng-template>
          </clr-datagrid>    
        </clr-tab-content>
      </clr-tab>
          <!-- Diff Tab -->
    <clr-tab *ngIf="isCompared">
      <button clrTabLink>Diff</button>
      <clr-tab-content *clrIfActive="true">
        <clr-datagrid>
          <clr-dg-column [clrDgField]="'diffstatus'">Diff Status</clr-dg-column>
          <clr-dg-column *ngFor="let col of HeaderDiff" [clrDgField]=col.col>{{col.header}}</clr-dg-column>
          <clr-dg-placeholder>We couldn't find any {{Name}} !</clr-dg-placeholder>
          <clr-dg-row *clrDgItems="let item of this.DiffTab" [clrDgItem]="item" 
          [ngClass]="{
            'created': (item.diffstatus === 'Created'  ),
            'deleted': (item.diffstatus === 'Deleted'  ),
            'modified': (item.diffstatus === 'Modified'  ),
            'unchanged': (item.diffstatus === 'Unchanged'  )
              }">
              <clr-dg-cell>
                      <span class="label label-success" *ngIf="item.diffstatus === 'Unchanged'">{{ item.diffstatus }}</span>
                      <span class="label label-warning" *ngIf="item.diffstatus === 'Modified'">{{ item.diffstatus }}</span>
                      <span class="label label-danger" *ngIf="item.diffstatus === 'Deleted'">{{ item.diffstatus }}</span>
                      <span class="label label-info" *ngIf="item.diffstatus === 'Created'">{{ item.diffstatus }}</span>
              </clr-dg-cell>
              <clr-dg-cell *ngFor="let col of HeaderDiff">
                  <div *ngIf="typeOf(item[col.col]) === 'object'">
                          <div *ngIf="item[col.col][col.subcol] && item[col.col][col.subcol].toString().includes('||') else diff">
                              <span class="label label-danger" *ngIf="item[col.col][col.subcol].toString().split('||')[0] != '+'"> <s>{{item[col.col][col.subcol].toString().split('||')[0]}}</s></span>
                              <span class="label label-info" *ngIf="item[col.col][col.subcol].toString().split('||')[1] != '-'">{{item[col.col][col.subcol].toString().split('||')[1]}}</span>
                            </div>
                            <ng-template #diff>
                              {{item[col.col][col.subcol]}}
                            </ng-template>
                  </div>
                  <div *ngIf="isArray(item[col.col])">
                          <div *ngFor="let subitem of item[col.col]">
                              <div *ngIf="typeOf(subitem) === 'object'">
                                  <div *ngIf="subitem[col.subcol] && subitem[col.subcol].toString().includes('||') else diff">
                                      <span class="label label-danger" *ngIf="subitem[col.subcol].split('||')[0] != '+'"> <s>{{subitem[col.subcol].split('||')[0]}}</s></span>
                                      <span class="label label-info" *ngIf="subitem[col.subcol].split('||')[1] != '-'">{{subitem[col.subcol].split('||')[1]}}</span>
                                    </div>
                                    <ng-template #diff>
                                      {{subitem[col.subcol]}}
                                    </ng-template>
                              </div>
                              <div *ngIf="typeOf(subitem) === 'string' || typeOf(subitem) === 'number'">
                                  <div *ngIf="subitem && subitem.toString().includes('||') else diff">
                                      <span class="label label-danger" *ngIf="subitem.split('||')[0] != '+'"> <s>{{subitem.split('||')[0]}}</s></span>
                                      <span class="label label-info" *ngIf="subitem.split('||')[1] != '-'">{{subitem.split('||')[1]}}</span>
                                    </div>
                                    <ng-template #diff>
                                      {{subitem}}
                                    </ng-template>
                              </div>
                          </div>
                  </div>
                  <div *ngIf="typeOf(item[col.col]) !== 'object'">
                        <div *ngIf="item[col.col] && item[col.col].toString().includes('||') else diff">
                            <span class="label label-danger" *ngIf="item[col.col].toString().split('||')[0] != '+'"> <s>{{item[col.col].toString().split('||')[0]}}</s></span>
                            <span class="label label-info" *ngIf="item[col.col].toString().split('||')[1] != '-'">{{item[col.col].toString().split('||')[1]}}</span>
                          </div>
                          <ng-template #diff>
                            {{item[col.col]}}
                          </ng-template>
                  </div>
              </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
                   <clr-dg-pagination #pagination [clrDgPageSize]="20">
                     <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">{{Name}} per page</clr-dg-page-size>
                     {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} {{Name}}
                   </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
    </clr-tabs>
</p>
