<h3>Welcome to PowerOps</h3>
<p>
  NSX Power Operations is a platform that provides NSX users a way to document and healthcheck their VMware NSX-T environment. Through a series of python scripts, you have the ability to output healthchecks to the terminal or output documentation option in Microsoft Excel format that are easily consumable and referable. The documentation not only captures the Desired State (configuration) but also the Realized State (for example: routing & forwarding tables) across the distributed environment.
</p>
<p class="p6">
  <div id="network"></div>
