<app-description Menu='Security - Security Policies'></app-description>
<p class="p6">
<!-- Button groups-->
<div class="btn-group">
  <div class="btn-group">
    <clr-dropdown>
      <button class="btn" clrDropdownTrigger *ngIf="loading else export" disabled>
        <cds-icon shape="download-cloud" ></cds-icon>
        Export
      </button>
    <ng-template #export>
      <button class="btn" clrDropdownTrigger>
        <cds-icon shape="download-cloud"></cds-icon>
        Export
      </button>
    </ng-template>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
      <a (click)="Export('XLS', this.TabPolicies, Name)" clrDropdownItem>Export in Excel</a>
      <a (click)="Export('CSV', this.TabPolicies, Name)" clrDropdownItem>Export in CSV</a>
      <a (click)="Export('JSON', this.TabPolicies, Name)" clrDropdownItem>Export in JSON</a>
      <a (click)="Export('YAML', this.TabPolicies, Name)" clrDropdownItem>Export in YAML</a>
    </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="btn-group">
      <!-- Diff part-->
      <app-diff #appDiff Name={{Name}} [Tab]=this.TabPolicies (diffArrayOut)="getDiff($event)"></app-diff>
      <button class="btn" *ngIf="loading else diff" disabled>
        <cds-icon shape="file-group"></cds-icon>
        Diff
      </button>
      <ng-template #diff>
        <button class="btn" (click)="appDiff.StartWizard()">
          <cds-icon shape="file-group"></cds-icon>
          Diff
        </button>
      </ng-template>
      <clr-dropdown>
        <button class="btn" clrDropdownTrigger *ngIf="!isCompared else exportdiff" disabled>
          <cds-icon shape="download-cloud" ></cds-icon>
          Export Diff
        </button>
        <ng-template #exportdiff>
          <button class="btn" clrDropdownTrigger>
            <cds-icon shape="download-cloud"></cds-icon>
            Export Diff
          </button>
        </ng-template>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <a (click)="Export('XLS', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in Excel</a>
          <a (click)="Export('CSV', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in CSV</a>
          <a (click)="Export('JSON', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in JSON</a>
          <a (click)="Export('YAML', this.DiffTab, 'Diff_' + Name)" clrDropdownItem>Export in YAML</a>
        </clr-dropdown-menu>
      </clr-dropdown>
</div>
</div>
<!-- Alert in case of error-->
<div class="alert alert-danger" role="alert" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
      </div>
      <span class="alert-text">
        {{error_message}}
      </span>
    </div>
</div>
<button type="button" class="close" aria-label="Close" (click)="error = false">
  <cds-icon aria-hidden="true" shape="window-close" ></cds-icon>
</button>
</div>
<p class="p3">
  <clr-tabs>
    <!-- Dashboard -->
    <clr-tab>
      <button clrTabLink>Dashboard</button>
      <clr-tab-content *clrIfActive>
        <clr-datagrid [clrDgLoading]="loading">
          <clr-dg-column [clrDgField]="'id'">Security Policy ID</clr-dg-column>
          <clr-dg-column [clrDgField]="'name'">Security Policy Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'path'">NSX Policy Path</clr-dg-column>
          <clr-dg-column [clrDgField]="'sequence_number'">Sequence Number</clr-dg-column>
          <clr-dg-column [clrDgField]="'category'">Category</clr-dg-column>
          <clr-dg-column [clrDgField]="'stateful'">is Stateful</clr-dg-column>
          <clr-dg-placeholder>We couldn't find any Security Policies !</clr-dg-placeholder>
      
          <clr-dg-row *clrDgItems="let entry of this.TabPolicies">
            <clr-dg-cell>{{entry.id}}</clr-dg-cell>
            <clr-dg-cell>{{entry.name}}</clr-dg-cell>
            <clr-dg-cell>{{entry.path}}</clr-dg-cell>
            <clr-dg-cell>{{entry.sequence_nb}}</clr-dg-cell>
            <clr-dg-cell>{{entry.category}}</clr-dg-cell>
            <clr-dg-cell>{{entry.stateful}}</clr-dg-cell>
          </clr-dg-row>
        
          <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">policies per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} policies
              </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
        <!-- Diff Tab -->
        <clr-tab *ngIf="isCompared">
          <button clrTabLink>Diff</button>
          <clr-tab-content *clrIfActive="true">
            <app-diffresult [DiffTab]=this.DiffTab [HeaderDiff]=this.HeaderDiff Name={{Name}}></app-diffresult>
          </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</p>