#fabric{
    color: hsl(9,85%,67%)
  }
  
  #networking{
    color: hsl(198,66%,57%)
  }
  
  #security{
    color: hsl(93,79%,40%)
  }
  
  #health{
    color: hsl(198,100%,32%)
  }
  
  #audit{
    color: hsl(282,69%,37%)
  }
  